<div class="col s8 main">
  <p *ngIf="notice">{{ notice }}</p>
  <ul *ngIf="recipes; let odd=odd; else elseBlock" class="collection">
    <li  (click)="onSelect(recipe)" class="collection-item avatar details" *ngFor="let recipe of recipes" [@recipeState]="recipe.state">
      <img src="{{recipe.thumbnailUrl}}" alt="" class="circle">
      <a >
        <span class="title">{{ recipe.title }}</span>
      </a>
      <br>
      <p [align]="alignement" >
        étoile(s) : {{recipe.stars}}
      </p>
      <a href="#!" class="secondary-content">
        <i class="material-icons">grade</i>
      </a>
    </li>
  </ul>
  <ng-template #elseBlock>
    <ul>
      <li class="collection-item avatar">
        Nothing
      </li>
    </ul>
  </ng-template>
</div>
<div class="col s4 sidebar" >
  <div class="col s12 m12">
    <app-recipe-details [recipe]="showRecipe"></app-recipe-details>
  </div>
</div>